.list {
  height: 50.25rem;
  width: 67%;
  padding: 0 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.625rem;
  flex-wrap: nowrap;
  align-items: center;
  background: inherit;
  margin: 0 auto 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1.625rem 0 0 0;

  &
    .g-button_selected:not(
      .g-button_view_normal-contrast,
      .g-button_view_flat-contrast,
      .g-button_view_outlined-contrast
    ) {
    --_--background-color: rgba(68, 123, 178, 0.3);
    --_--background-color-hover: rgba(58, 118, 180, 0.5);
    --_--text-color: blue;
  }
}
