.article_opened {
  justify-content: space-between;
  width: 58.625rem;
  height: 50.4rem;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: none;
  transform: none;
  &:hover,
  &:focus {
    transform: none;
  }

  & .card-text,
  .tag-list {
    opacity: 0.6;
  }

  & .card__body_text {
    padding: 0.825rem 0 0 0 ;
    overflow: auto;
    overscroll-behavior: contain;
    scrollbar-base-color: inherit;
    text-overflow: ellipsis;
    height: 42.8rem;
    color: rgba(0, 0, 0, 0.7);
    font-family:
      Inter UI,
      sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    text-align: left;
    word-spacing: 0.3em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    scrollbar-width: none;
  }
  .edit-article {
    width: 12.5rem;
    position: absolute;
    top: 5rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

.card__body_text::-webkit-scrollbar {
  display: none;
}
