.article_opened {
  justify-content: space-between;
  width: 58.625rem;
  height: 50.4rem;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: none;
  transform: none;
  &:hover,
  &:focus {
    transform: none;
  }

  & .section-title {
    & .like {
      cursor: pointer;
      align-self: center;
      color: transparent;
      transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
      &:hover {
        transform: scale(111%);
        color: rgba(255, 0, 0, 0.25);
      }
      &.liked {
        color: red;
        &:hover {
          color: rgba(255, 0, 0, 0.78);
          transform: scale(111%);
        }
      }
    }
  }

  & .card-text,
  .tag-list {
    opacity: 0.6;
  }

  & .card__body_text {
    padding: 0.825rem 0 0 0 ;
    overflow: auto;
    overscroll-behavior: contain;
    scrollbar-base-color: inherit;
    text-overflow: ellipsis;
    height: 42.8rem;
    color: rgba(0, 0, 0, 0.7);
    font-family:
      Inter UI,
      sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    text-align: left;
    word-spacing: 0.3em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    scrollbar-width: none;
  }
  .edit-article {
    width: 12.5rem;
    position: absolute;
    top: 5rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

.popup-delete {
  & .g-popup__content {
    & .popup-content {
      position: relative;
      width: 15rem;
      padding: 1rem 0.75rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      & .popup-text {
        margin-left: 1.5rem;
        text-align: start;
      }
      & .popup-actions {
        display: flex;
        justify-content: flex-end;
        column-gap: 0.5rem;
        & .del-button {
          --_--text-color: white;
          --_--background-color: rgba(24, 144, 255, 1);
          --_--background-color-hover: rgb(23, 134, 237);
          --_--focus-outline-color: rgb(23, 134, 237);
        }
      }
      & .exlamation-sign {
        position: absolute;
        color: rgb(255, 145, 0);
      }
    }
  }
}

.loadingSpin {
  margin-left: 50%;
  margin-top: 25%;
}

.card__message {
  position: absolute;
  padding: 0 0.5rem 0 0.5rem;
  top: 40%;
  left: 40%;
  width: 18rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3ebeb;
}

.card__body_text::-webkit-scrollbar {
  display: none;
}
