.sign-up,
.edit-profile,
.sign-in,
.create-article {
  width: 33%;
  max-width: 384px;
  height: fit-content;
  background: #ffffff;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 6px;
  box-shadow:
    0 0.61px 2.93px 0 #00000005,
    0 1.46px 7.05px 0 #00000007,
    0 2.75px 13.27px 0 #00000009,
    0 4.91px 23.68px 0 #0000000b,
    0 22px 106px 0 #00000012;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  row-gap: 2rem;
  margin: 0 auto 0 auto;
  padding: 3rem 2rem 3rem 2rem;

  h1 {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .main-signup-active {
    padding-top: 3.75rem;
  }

  .g-text-input__control {
    height: 2.5rem;
  }

  .form-group {
    width: 100%;
  }

  .g-popover {
    align-self: center;
  }

  .g-text-area {
    position: relative;
    &:last-of-type .g-outer-additional-content__note  {
      transform: translate(0, -12rem);
    }
  }

  .g-outer-additional-content {
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    &__note {
      position: absolute;
      left: 0;
      transform: translate(0, -4rem);
      width: max-content;
      opacity: 0.6;
      margin-inline-start: 0;
    }
  }

  .checkbox {
    display: flex;
    column-gap: 0.875rem;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(89, 89, 89, 0.7);
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 0.5rem;
    top: -1rem;
    border-top: 1px #e8e8e8 solid;
    & .g-control-label__indicator {
      margin-top: 0.5rem;
    }

    & .g-control-label__text {
      margin-left: 0;
    }
  }

  .button-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    & > span {
      color: rgba(140, 140, 140, 1);
      font-size: 1em;
      line-height: 20px;
      & a {
        text-decoration: none;
        color: rgba(24, 144, 255, 1);
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  .g-button {
    &_view_action {
      color: white;
      width: 100%;
      height: 40px;
      --_--background-color: #1890ff;
      &:hover {
        --_--background-color-hover: rgba(0, 127, 255, 0.81);
      }
    }
  }
  .tags-section {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    column-gap: 0.825rem;
    align-items: center;

    .g-text-input {
      width: 40%;
    }

    .g-button {
      padding: 0;
      max-width: fit-content;
      &_size_m {
        --_--height: 28px;
        --_--border-radius: var(--g-border-radius-m);
        --_--padding: 0;
        --_--icon-size: 0;
        --_--icon-offset: 0;
      }
    }

    & .tags-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 0.5rem;
    }
  }
}

.create-article {
  min-width: 40%;
  width: 56%;
  max-width: 56%;
}

label[class*='g-checkbox_checked'] > .g-checkbox__indicator::before {
  background-color: dodgerblue;
}

.g-checkbox__icon-svg_type_tick {
  color: white;
}

.g-user-label__text {
  line-height: 1.5em;
}
